<% layout('/layouts/boilerplate')%>

<div class="container mt-5">
    <div class="row justify-content-md-center">
      <div class="col-md-auto mt-5">
        <i class="far fa-plus-square fa-10x d-flex justify-content-center" id="main-icon"></i> 
      </div>
    </div>
  </div>
