 <% layout('/layouts/boilerplate')%>



   <header class="masthead d-flex align-items-center">
            <div class="container px-4 px-lg-5 mt-5 text-center">
                <a href="/login">
                  <button type="button" class="btn btn-success btn-lg">Login</button>
                 
                </a>
                <h5 class="mb-3 mt-3"><em>or</em></h5>
                <a href="/register">
                  <button type="button" class="btn btn-primary btn-lg">Sign Up</button>
                </a>
            </div>
        </header> 

<!-- <div class="container mt-5">
    <div class="row justify-content-md-center">
      <div class="col-md-auto mt-5">
        
        <a href="/login">
          <button type="button" class="btn btn-primary btn-lg">Login</button>
        </a>
      </div>
    </div>
  </div> -->
